<li class="nav-item" style="position:relative; left:50px">
    <a class="nav-link" href="/MyCourses/MyCourses"><i class="bi bi-briefcase-fill"></i>&nbsp; Khóa học của tôi &nbsp;(@ViewBag.TongSoLuong)</a>
</li>

