
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model IEnumerable<DoAnLTWEB.Models.KhoaHoc>

<h2 style="text-align:center">LIST COURSE</h2>
<div class="container-fluid row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 200px; margin: 10px 0px; text-align: center; ">
                <img class="card-img-top" src="~/Content/Images/@item.Picture" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text">@item.TenKH</p>
                    <a href="/Lesson/Lesson?MaKH=@item.MaKH" style="text-decoration:none">Xem chi tiết</a>
                </div>
            </div>
        </div>

    }
</div>

