@model IEnumerable<DoAnLTWEB.Models.KhoaHoc>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<li class="list-group-item bg-warning text-white" style="font-weight: bold;">CHỦ ĐỀ MÔN HỌC</li>
@foreach (var item in Model)
{
    <li><a href="/Course/CourseWithSubjectTitle?TenMH=@item.TenMonHoc" class="list-group-item" style="text-transform:uppercase">@Html.DisplayFor(modelItem => item.TenMonHoc)</a></li>
}
