@{
    ViewBag.Title = "Lộ trình học Back-end";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/styleLesson.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h3 class="mb-2" style="font-weight: bold;">Lộ trình học Back-end</h3>
        <p class="sample-text mb-2">
            Hầu hết các websites hoặc ứng dụng di động đều có 2 phần là Front-end và Back-end.
            Front-end là phần giao diện người dùng nhìn thấy và có thể tương tác. Back-end là nơi xử lý dữ liệu và lưu trữ.
            Vì vậy, nhiệm vụ của lập trình viên Back-end là phân tích thiết kế dữ liệu, xử lý logic nghiệp vụ của các chức năng trong ứng dụng.
        </p>
        <p class="sample-text mb-2">
            Tại Việt Nam, <b style="color: #ff663b;"><u>lương trung bình</u></b> cho lập trình viên back-end vào khoảng <b>19.000.000đ</b> / tháng.
        </p>
        <p class="sample-text mb-2">
            Dưới đây là các khóa học đã tạo ra dành cho bất cứ ai theo đuổi sự nghiệp trở thành một lập trình viên Back-end.
        </p>
        <blockquote class="generic-blockquote mb-5">
            Các khóa học có thể chưa đầy đủ, Chúng tôi vẫn đang nỗ lực hoàn thiện trong thời gian sớm nhất.
        </blockquote>
        <h3 class="mb-2 mt-5" style="font-weight: bold;">1. Tìm hiểu về ngành IT</h3>
        <p class="sample-text mb-5">
            Để theo ngành IT - Phần mềm cần rèn luyện những kỹ năng nào? Bạn đã có sẵn tố chất phù hợp với ngành chưa?
            Cùng thăm quan các công ty IT và tìm hiểu về văn hóa, tác phong làm việc của ngành này nhé các bạn.
        </p>
        <h3 class="mb-2 mt-5" style="font-weight: bold;">2. Ngôn ngữ lập trinh</h3>
        <p class="sample-text mb-2">
            Có rất nhiều ngôn ngữ để bạn có thể làm việc với Back-end như Java, Python, C#,... tuy nhiên bạn không cần phải học tất cả.
            Bạn chỉ cần tập trung vào 1 ngôn ngữ là có thể làm việc tốt.
        </p>
        <div class="row align-items-center border py-4 px-2 mb-2" style="border-radius: 20px;">
            <div class="col-md-3">
                <img src="~/Content/Images/Java.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-9 mt-sm-20">
                <h3 class="mb-2" style="font-weight: bold;">Khóa học Lập trình Java</h3>
                <p style="color: #ff663b; font-weight: 600;">149.000đ</p>
                <p>Khóa học này giúp bạn có thể tự lập trình được những phương thức xử lý dữ liệu bằng ngôn ngữ Java</p>
                <a href="/Lesson/Lesson?maKH=KH2023003" class="btn_1 d-block mt-3" style="width: fit-content;">Xem chi tiết</a>
            </div>
        </div>
        <div class="row align-items-center border py-4 px-2 mb-2" style="border-radius: 20px;">
            <div class="col-md-3">
                <img src="~/Content/Images/Python.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-9 mt-sm-20">
                <h3 class="mb-2" style="font-weight: bold;">Khóa học Lập trình Python</h3>
                <p style="color: #ff663b; font-weight: 600;">149.000đ</p>
                <p>Khóa học này giúp bạn có thể tự lập trình được những phương thức xử lý dữ liệu bằng ngôn ngữ Python</p>
                <a href="/Lesson/Lesson?maKH=KH2023004" class="btn_1 d-block mt-3" style="width: fit-content;">Xem chi tiết</a>
            </div>
        </div>
        <div class="row align-items-center border py-4 px-2 mb-5" style="border-radius: 20px;">
            <div class="col-md-3">
                <img src="~/Content/Images/CSharp.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-9 mt-sm-20">
                <h3 class="mb-2" style="font-weight: bold;">Khóa học Lập trình C#</h3>
                <p style="color: #ff663b; font-weight: 600;">149.000đ</p>
                <p>Khóa học này giúp bạn có thể tự lập trình được những phương thức xử lý dữ liệu bằng ngôn ngữ C#</p>
                <a href="/Lesson/Lesson?maKH=KH2023005" class="btn_1 d-block mt-3" style="width: fit-content;">Xem chi tiết</a>
            </div>
        </div>
        <h3 class="mb-2 mt-5" style="font-weight: bold;">3. Sử dụng Ubuntu/Linux</h3>
        <p class="sample-text mb-2">
            Cách làm việc với hệ điều hành Ubuntu/Linux qua Windows Terminal & WSL.
            Khi đi làm, nhiều trường hợp bạn cần nắm vững các dòng lệnh cơ bản của Ubuntu/Linux.
            Sở hữu một Terminal hiện đại, mạnh mẽ trong tùy biến và học cách làm việc
            với Ubuntu là một bước quan trọng trên con đường trở thành một Developer.
        </p>
    </div>
</body>
</html>